/* Global Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Placeholder Styling */
::placeholder {
  font-weight: bold;
}

/* Invalid Input Styling */
input:invalid {
  border-color: red;
}

/* Fonts */
html {
  font-family: "Montserrat", sans-serif;
}

/* Body Styling */
body {
  background: #2e2e2e url('./images/body_background.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* Header Styling */
header {
  margin: auto;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0066ff;
  font-family: 'Times New Roman', Times, serif;
  position: relative;
}

/* Header Title Styling */
header h1 {
  color: yellow;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

/* Footer Styling */
footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  color: #ccc;
}

/* Note Styling */
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  max-width: 100%;
  margin: 16px;
  overflow-wrap: break-word;
}

/* Note Title Styling */
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

/* Note Content Styling */
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
}

/* Note Button Styling */
.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

/* Create Note Form Styling */
form.create-note {
  position: relative;
  width: 90%;
  max-width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

/* Create Note Input Styling */
form.create-note input,
form.create-note textarea {
  width: calc(100% - 8px);
  margin-bottom: 10px;
  padding: 10px;
  outline: none;
  font-size: max(1.2em, 25px);
  font-family: inherit;
  resize: none;
  border: 1px solid #ccc;
}

/* Create Note Button Styling */
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  outline: none;
}

/* Login/Register Form Styling */
.login-container {
  max-width: 90%;
  margin: 100px auto;
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
}

/* Login/Register Input Styling */
.login-container input[type="text"],
.login-container input[type="email"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid lightslategray;
  background-color: transparent;
  outline: none;
}

/* Login/Register Button Styling */
.login-container button {
  width: 100%;
  background-color: #3385ff;
  color: white;
  padding: 14px 0;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: large;
}

/* Login/Register Button Hover Styling */
.login-container button:hover {
  background-color: #0047b3;
}

/* Media Queries for Responsive Design */
@media only screen and (max-width: 768px) {
  header h1 {
      font-size: 3rem;
  }
  
  .note {
      width: 90%;
  }
  
  form.create-note {
      width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  header h1 {
      font-size: 2.5rem;
  }
  
  form.create-note {
      width: 95%;
  }
}
